In [2]:
import pymysql

In [3]:
mydb  =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234'
) 
mycursor =mydb.cursor()
mycursor.execute('SHOW DATABASES')
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('schoolmanagementsystem',)
('sys',)
('techbros',)
('world',)

In [7]:
   mydb  =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('studentsperformance',)

In [10]:
mydb  =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('CREATE TABLE GROUP_A_DATA SELECT * FROM studentsperformance WHERE raceethnicity = "group A"')
mydb.commit()

In [12]:
mydb  =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT COUNT(gender) FROM studentsperformance')
for x in mycursor:
    print(x)

(1000,)

In [15]:
mydb  =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT COUNT(*) FROM studentsperformance WHERE mathscore <= 50')
for x in mycursor:
    print(x)

(150,)

In [16]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT COUNT(DISTINCT mathscore) FROM studentsperformance')
for x in mycursor:
    print(x)

(81,)

In [17]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT SUM(mathscore)AS TOTAL_MATHSCORE_GROUP_A FROM studentsperformance WHERE raceethnicity="group A"')
for x in mycursor:
    print(x)

(Decimal('5485'),)

In [18]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT MAX(mathscore)AS TOTAL_MATHSCORE_GROUP_A FROM studentsperformance WHERE raceethnicity="group A"')
for x in mycursor:
    print(x)

(100,)

In [19]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT AVG(mathscore)AS TOTAL_MATHSCORE_GROUP_A FROM studentsperformance WHERE raceethnicity="group A"')
for x in mycursor:
    print(x)

(Decimal('61.6292'),)

In [20]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='schoolmanagementsystem'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT MIN(mathscore)AS TOTAL_MATHSCORE_GROUP_A FROM studentsperformance WHERE raceethnicity="group A"')
for x in mycursor:
    print(x)

(28,)

In [27]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='techbros'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT ID,Sname,age,gender,GROUP_CONCAT(Slevel)AS allLEVEL FROM PWDS GROUP BY ID')
for x in mycursor:
    print(x)

(1, 'Ikechukwu David', 29, 'Male', 'Expert')
(2, 'John smith', 30, 'Male', 'Junior')
(3, 'Uduak Grace', 30, 'Female', 'Intermediate')
(4, 'Tech Bro', 31, 'Male', 'Expert')
(5, 'Love', 35, 'Female', 'Intermediate')
(6, 'John Doe', 30, 'Male', 'Intermediate')
(7, 'Grace Jill', 28, 'Female', 'Junior')
(8, 'Frazer York', 26, 'Male', 'Junior')
(9, 'Emma Stone', 45, 'Female', 'Expert')
(10, 'Jeniffer Garner', 38, 'Female', 'Expert')
(11, 'Miguel Gomez', 43, 'Male', 'Expert')
(12, 'Sutter Hunk', 31, 'Male', 'Intermediate')
(13, 'Grace Jill', 28, 'Female', 'Junior')
(14, 'Frazer York', 26, 'Male', 'Junior')
(15, 'Emma Stone', 45, 'Female', 'Expert')
(16, 'Jeniffer Garner', 38, 'Female', 'Expert')
(17, 'Miguel Gomez', 43, 'Male', 'Expert')
(18, 'John Doe', 30, 'Male', 'Intermediate')
(19, 'Grace Jill', 28, 'Female', 'Junior')
(20, 'Frazer York', 26, 'Male', 'Junior')

In [30]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='techbros'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT Sname FROM PWDS LIMIT 2')
for x in mycursor:
    print(x)

('Ikechukwu David',)
('John smith',)

In [33]:
mydb =pymysql.connect(
      host = 'localhost',
      user = 'root',
     password = '1234',
    database ='techbros'
) 
mycursor =mydb.cursor()
mycursor.execute('SELECT Sname FROM PWDS ORDER BY ID LIMIT 1')
for x in mycursor:
    print(x)

('Ikechukwu David',)