In [1]:
price1 = 20000
price2 = 10000
price3 = 15000
report = 'i sold two pairs of shirt for {}, a shoe for {} and a suit for {}'
print(report.format(price1,price2,price3))

i sold two pairs of shirt for 20000, a shoe for 10000 and a suit for 15000

In [2]:
print(f'i sold two pairs of shirts for {price1}, a pair of shoe for {price2} and a suit for {price3}')

i sold two pairs of shirts for 20000, a pair of shoe for 10000 and a suit for 15000

In [3]:
word1='python'
word2='PYTHON'
word3='python is fun'
word4='      python is fun'
print(word1.upper())
print(word2.lower())
print(word3.title())
print(word3.capitalize())
print(word3.split())
print(word4.strip())

PYTHON
python
Python Is Fun
Python is fun
['python', 'is', 'fun']
python is fun

# Data Type Conversion

In [4]:
num1=int(19.5)
print(num1)

19

In [5]:
num2=str(99)
print(num2)

99

In [6]:
num3=4563728.7864
print(int(num3))

4563728

In [7]:
num4='89'
print(float(num4))

89.0

# OPERATORS

# Arithmetic operators
## + addition
## - subtraction
## * multiplication
## / division
## % modulus
## // interger division
## ** exponetia

In [8]:
number1=25
number2=15

print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} x {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')
print(f'{number1} % {number2} = {number1 % number2}')
print(f'{number1} // {number2} = {number1 // number2}')
print(f'{number1} ^ {number2} = {number1 ** number2}')

25 + 15 = 40
25 - 15 = 10
25 x 15 = 375
25 / 15 = 1.6666666666666667
25 % 15 = 10
25 // 15 = 1
25 ^ 15 = 931322574615478515625

# Comparism operator
## > greater than
## < less than
## >= greater than or equal to
## <= less than or equal to
## == equal to
## != not equal to

In [9]:
print(number1 > number2)
print(number1 < number2)
print(number1 >= number2)
print(number1 <= number2)
print(number1 == number2)
print(number1 != number2)

True
False
True
False
False
True

# LOGICAL OPERATORS
and,or,not

In [12]:
print(number1 != number2 and number1 < number2)

False

In [14]:
print(number1 != number2 or number1 < number2)

True

In [15]:
print(not number1)

False

# MEMBERSHIP OPERATOR
in, not in

In [16]:
word = 'matchless love'
print('M'in word)

False

In [18]:
word = 'matchless love'
print('m' in word)

True

In [19]:
word = 'matchless love'
print('k' not in word)

True

In [20]:
word = 'matchless love'
print('m' not in word)

False

# IDENTITY OPERATORS
# is,is not

In [21]:
print(number1 is number2)
print(number1 is not number2)

False
True

In [6]:
add = 'Adebayo'
print(str.upper(add))

ADEBAYO